@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

h1{
  font-family: 'Lobster Two';
  font-style: italic;
  color: #ffd633;
  font-size: 225%;
  display: flex;
}

h2{
  color: #241c15;
}

h4 {
  color: #ffd633;
  font-size: 95%;
}

h5 {
  color: #ffd633;
  font-size: 95%;
  text-align: center;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


input[type=text] {
  background-color: #ffd633;
  color: black;
}

.btn-one {
  color: #241c15;
  background-color: #ffd633;
  border-color: #ffd633;
  border-radius: 4px;
}
.btn-one:hover,
.btn-one:focus,
.btn-one.focus,
.btn-one:active,
.btn-one.active,
.open > .dropdown-toggle.btn-one {
  color: #333;
  background-color: #ffd633;
  border-color: #ffd633;
}

.frm{
  display:inline;
}

.btn-one {
  color: #241c15;
  background-color: #ffd633;
  border-color: #ffd633;
  border-radius: 4px;
}
.btn-one:hover,
.btn-one:focus,
.btn-one.focus,
.btn-one:active,
.btn-one.active,
.open > .dropdown-toggle.btn-one {
  color: #333;
  background-color: #ffd633;
  border-color: #ffd633;
}

.frm{
  display:inline;
}




footer {
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}


