<!DOCTYPE html>
<html lang="en">
<header>
</header>
  <ul>
Login
    <li> Login</li>
      <form action="/login" method="POST" style="margin:20px; display:flex">
        <input id="email" type="email" name="email" placeholder= "enter email" style="width: 500px; display:flex">
     <input id="password" type="password" name="password" placeholder= "enter password" style="width: 500px; display:flex">
      <input type="submit" value="Submit">
  </ul>
</body>
<% include ./partials/_footer %>
</html>
