<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header %>
  <ul>
    <h2> Make a New Shortened URL </h2>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Create a new shortlink:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 500px; display:flex">
     <input class="btn btn-default" type="submit" value="Submit">
    </form>
  </div>
  </body>
  <% include ./partials/_footer %>
</html>
