<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header %>
  <ul>
    <% for(shorturl in urls){ %>
    <li><%=  shorturl + " -> " %> <a href="<%= urls[shorturl] %>"><%= urls[shorturl] %></a>
      <a href="/urls/<%= shorturl %>"> Edit </a>
     <form method="POST" action="/urls/9sm5xK/delete">
      <input type="submit" value="Delete"></form>
    <%} %>
    </li>
  </ul>
</body>
<% include ./partials/_footer %>
</html>
