<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header %>
  <ul>
    <h2> Your currently editing a URL </h2>
    <form action="/urls/" class="inline">
    <button class="btn-two" style="margin:10px;" >Return to URL list</button>
    <% ShortURL %>
    <p> <strong>Your currently editing - <%= ShortURL  %></strong></p>
    <p> Changes will be reflected on your URL list which you will be redirected to after changes</p>
    <form action="/urls/<%= ShortURL %>" method="POST" style="margin:50px;">
     <input id="LongURL" type="Update" name="longURL" placeholder= "<%= LongURL %>" style="width: 500px; display:flex">
      <input class="btn-one" type="submit" value="Update" style="margin:5px;">
    <% %>

    <!-- Add your EJS code here
A list or table of the URLs and their shortened forms. If you need a reminder on how to loop through data with EJS, take another peek at the What is a Template Engine? Reading.
A link for shortening a new URL. This will be a dead link for now (href='#') as we will build the page for this functionality later.

    -->
  </ul>
</body>
<% include ./partials/_footer %>
</html>
